{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block alerts_menu %}
    {#TODO : trouver un moyen de faire descendre le menu gauche ou de vider cette zone#}
    <ul class="smm-alerts">
        <li></li>
    </ul>
{% endblock alerts_menu %}

{% block mainMenu_listItems %}
    <li class="active"><a href="{{ path("fos_user_profile_show") }}">Profil</a></li>
    <li><a href="#">Préférences</a></li>
    <li><a href="#">Contacts</a></li>
{% endblock mainMenu_listItems %}

{% block content_body %}
    {% block fos_user_content %}{% endblock fos_user_content %}
{% endblock %}