{# Données d'entrée :
- userEventInvitation (EventInvitation|null) L'invitation de l'utilisateur "connecté"
- invitation (EventInvitation|ModuleInvitation) L'invitation concernée

- Pensez a a inclure les avatars dans une div avatar-img-cintainer-xxx qui vont determiner la taille de l'avatar.
#}

{# Dans le cas d'une invitation de module on récupère l'eventInvitation liée #}
{% set eventInvitation = (invitation.eventInvitation is defined ? invitation.eventInvitation : invitation) %}
{% set userEventInvitation = userEventInvitation is defined ? userEventInvitation : null %}

{# Définition de l'avatar #}
{% set avatar = null %}
{% if eventInvitation.applicationUser is not null and eventInvitation.applicationUser.appUserInformation.avatar is not null %}
    {% set avatar = eventInvitation.applicationUser.appUserInformation.avatar %}
{% endif %}

<span class="d-block w-100 h-100">
    {% if avatar is not null %}
        <img class="yzi-avatar-img{{ eventInvitation.answer is null?" grayscale-1" }}" src="{{ asset('uploads/user/avatar/'~avatar) }}"
             {% if userEventInvitation ==  eventInvitation %}userAvatar{% endif %}>
    {% else %}
        <img class="yzi-avatar-img{{ eventInvitation.answer is null?" grayscale-1" }}" avatar="{{ eventInvitation.displayableName(true,false)|split("@")|first }}"
             {% if userEventInvitation ==  eventInvitation %}userAvatar{% endif %}>
    {% endif %}
</span>