{% extends "ATUserBundle::layout_cboxed.html.twig" %}

{% block title %}
    {% spaceless %}{{ parent() }} - {{ "resetting.check_email.page.meta_title"|trans }}{% endspaceless %}
{% endblock %}

{% block fos_user_content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ "resetting.check_email.page.title"|trans }}</h1>
        </div>
        <div class="card-body card-padding">
            {{ 'resetting.check_email'|trans({'%email%': email}, "FOSUserBundle") }}
        </div>
    </div>
{% endblock %}
