{% extends "ATUserBundle::layout_cboxed.html.twig" %}

{% block title %}
    {% spaceless %}{{ parent() }} - {{ "resetting.password_already_requested.page.meta_title"|trans }}{% endspaceless %}
{% endblock %}

{% block fos_user_content %}
<div class="card">
    <div class="card-header">
        <h1>{{ "resetting.password_already_requested.page.title"|trans }}</h1>
    </div>
    <div class="card-body card-padding">
        <p>{{ 'resetting.password_already_requested'|trans({},"FOSUserBundle") }}</p>
    </div>
</div>
{% endblock fos_user_content %}
