{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="input-group form-group fg-float">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>

        <div class="fg-line">
            <input type="text" id="username" name="username" required="required" class="form-control"/>
            <label for="username" class="fg-label">{{ 'resetting.request.username'|trans }}</label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-block btn-lg palette-Teal bg waves-effect">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
