/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/
/web/js/
.idea/
var/SymfonyRequirements.php
composer.lock
*.php~
bin/symfony_requirements
web/config.php
web/uploads/user/avatar/*
!web/uploads/user/avatar/.gitkeep
web/uploads/events/pictures/*
!web/uploads/events/pictures/.gitkeep
web/uploads/events/pollmodule/pollproposal/pictures/*
!web/uploads/events/pollmodule/pollproposal/pictures/.gitkeep
web/uploads/
