{% extends base_template %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                <h1><span>bonjour</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
