{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_body %}
    <h1><span>Bonjour</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
{% endblock %}


