{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_body %}

    <div class="c-header">
        <h2>Exemple de titre de page en dehors d'une Card</h2>
    </div>

    <div class="card">
        <div class="card-header">
            <h1>Bonjour
                <small>Et bienvenue sur Plany</small>
            </h1>
        </div>
        <div class="card-body card-padding-sm">
            C'est le contenu d'une carte
        </div>
    </div>

{% endblock %}


