{% extends base_template %}

{% block content_body%}
    <h1><span>bonjour</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
{% endblock %}

{% block stylesheets %}{% endblock %}
