Copyright &copy; 2017 Yziplan

<ul class="f-menu">
    <li><a href="{{ path('home') }}">{{ "base.footer.home"|trans }}</a></li>
    {#<li><a href="#">Mentions Légales</a></li>#}
    <li><a href="mailto:contact@yziplan.fr">Contact</a></li>
    <li><a href="#" data-toggle="modal" data-target="#addSuggestion" id="lienOuvreSuggestion" class="btn btn-primary">
            <span class="palette-White text"> {{ "suggestion.button"|trans }} </span>
        </a>
    </li>
</ul>