Copyright &copy; 2016 Plany by ArdTeam

<ul class="f-menu">
    <li><a href="{{ path('home') }}">{{ "base.footer.home"|trans }}</a></li>
    <li><a href="#">Mentions Légales</a></li>
    <li><a href="#">Contact</a></li>
</ul>