<html>
<head></head>
<body>

{% for message in messages %}
    {{ include('@App/EventInvitation/emails/invitation.html.twig', {'eventInvitation':message.eventInvitation, 'message':message.message}) }}
{% endfor %}
</body>
</html>