{% extends "AppBundle:Event:layout.html.twig" %}

{% block title %}{{ parent() }} - {{ "global.event"|trans }}{% endblock %}

{% block content_body %}
    {{ parent() }}

    <div class="card">
        <div class="card-header">
            <h2>Evenement de test
                <small>Sous-titre ou description brève</small>
            </h2>
        </div>
        <div class="card-body card-padding-sm">
            C'est la page d'un événement à compléter.
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {{ include("@App/Event/module/whoPaidWhatModule.html.twig")}}
        </div>
        <div class="col-md-4">
            <div class="card c-dark palette-Grey bg recent-signups">
                <div class="card-header p-b-0">
                    <h2>Most Recent Signups
                        <small>Magna Cursus Malesuada</small>
                    </h2>
                    <ul class="actions a-alt">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Change Date Range</a>
                                </li>
                                <li>
                                    <a href="">Change Graph Type</a>
                                </li>
                                <li>
                                    <a href="">Other Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="sparkline-1 p-30">
                        <canvas height="50" width="323" style="display: inline-block; width: 323px; height: 50px; vertical-align: top;"></canvas>
                    </div>

                    <ul class="rs-list">
                        <li>
                            <a href="">
                                <div class="avatar-char">B</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="avatar-img" src="img/profile-pics/5.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">L</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">A</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="avatar-img" src="img/profile-pics/4.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">Z</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">I</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">S</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">C</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">W</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="avatar-img" src="img/profile-pics/3.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">A</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="avatar-img" src="img/profile-pics/9.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">N</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">X</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">V</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="avatar-img" src="img/profile-pics/7.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="avatar-img" src="img/profile-pics/6.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="avatar-img" src="img/profile-pics/8.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">F</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">E</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">A</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">A</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">M</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">O</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="avatar-char">I</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="c-grid" class="clearfix" data-columns>
        <div class="card c-dark palette-Green bg">
            <div class="card-header">
                <h2>Module 1</h2>
            </div>
            <div class="card-body card-padding">
                <p>Contenu du module 1</p>
            </div>
        </div>

        <div class="card c-dark palette-Indigo bg">
            <div class="card-header">
                <h2>Module 2</h2>
            </div>
            <div class="card-body card-padding">
                <p>Contenu du module 2</p>
            </div>
        </div>

        <div class="card c-dark palette-Blue bg">
            <div class="card-header">
                <h2>Module 3</h2>
            </div>
            <div class="card-body card-padding">
                <p>Contenu du module 3</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPayment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter un paiement</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email">
                            <label class="fg-label">Payeur</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email">
                            <label class="fg-label">Pour</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email">
                            <label class="fg-label">Montant</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email">
                            <label class="fg-label">Raison</label>
                        </div>
                    </div>

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <textarea style="overflow: hidden; word-wrap: break-word; height: 43px;" data-autosize-on="true" class="form-control auto-size input-sm"></textarea>
                            <label class="fg-label">Message</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info waves-effect">Submit</button>
                    <button class="btn btn-link waves-effect">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
