{% extends "@App/Event/layout.html.twig" %}

{% block mainMenu_listItems %}
    <li><a href="#module1">Module 1</a></li>
    <li><a href="#module2">Module 2</a></li>
{% endblock mainMenu_listItems %}

{% block event_content %}
    <div class="card" id="module1">
        <div class="card-header ch-img" style="background-image: url({{ asset("uploads/events/default/evt-img1.jpg") }}); height: 250px;">
            <h2>{{ event.name }}</h2>
        </div>
        <div class="card-body card-padding"><p>{{ event.description }}</p></div>
        <div class="card-footer"></div>
    </div>



    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="card" id="module2">
                <div class="card-header">
                    <h2>Module 2
                        <small><a href="#">Top</a></small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ia lz eaz eeae, azelaze anzk eaze kazel
                    azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk
                    beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz ee
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            {% if event.creator is not null %}
                {{ render(controller("AppBundle:Event:displayAppUserPartial", {"appUserId":event.creator.id})) }}
            {% endif %}

            <div class="card" id="bottom">
                <div class="card-header">
                    <h1>Infos</h1>
                </div>
                <div class="card-body card-padding">
                    ae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae,
                    azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze
                    anzk eaze kazel azk b eaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk eaze kazel azk beaize akjzeb ialz eaz eeae, azelaze anzk
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock event_content %}