<div class="card recent-signups">
    <div class="card-header p-b-0">
        <h2>Qui ?
            <small>Magna Cursus Malesuada</small>
        </h2>
        <ul class="actions a-alt">
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card-body palette-Green-100 bg">
{#        <div class="sparkline-1 p-30">
            <canvas height="50" width="323" style="display: inline-block; width: 323px; height: 50px; vertical-align: top;"></canvas>
        </div>#}

        <ul class="rs-list">
            <li>
                <a href="">
                    <div class="avatar-char">B</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/5.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">L</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/4.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">Z</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/9.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">N</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">X</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">V</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/7.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/6.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/8.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">F</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">E</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">M</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">O</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">I</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body palette-Red-100 bg">
        {#        <div class="sparkline-1 p-30">
                    <canvas height="50" width="323" style="display: inline-block; width: 323px; height: 50px; vertical-align: top;"></canvas>
                </div>#}

        <ul class="rs-list">
            <li>
                <a href="">
                    <div class="avatar-char">B</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/5.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">L</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/4.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">Z</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">I</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">S</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">C</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">W</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/3.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/9.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">N</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">X</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">V</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/7.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/6.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/8.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body palette-Blue-100 bg">
        {#        <div class="sparkline-1 p-30">
                    <canvas height="50" width="323" style="display: inline-block; width: 323px; height: 50px; vertical-align: top;"></canvas>
                </div>#}

        <ul class="rs-list">
            <li>
                <a href="">
                    <div class="avatar-char">B</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/5.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">L</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/4.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">Z</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">I</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">X</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">V</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/7.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/6.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="avatar-img" src="img/profile-pics/8.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">F</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">E</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">A</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">M</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">O</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="avatar-char">I</div>
                </a>
            </li>
        </ul>
    </div>
</div>