{% extends '@ATUser/layout.html.twig' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <h1>{{ "registration.confirmed.titre"|trans }}</h1>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-success">
                        <p>{{ 'registration.confirmed'|trans({'%username%': user.username},'FOSUserBundle') }}</p>
                        {#<p>{{ "registration.confirmed.message"|trans({'%urlArdganiser%': path('creerEvenement'), '%urlEditionProfil%': path("fos_user_profile_edit")})|raw }}</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
