{% extends "@App/EventInvitation/layout.html.twig" %}

{#
TODO Commentaires dev : - Choix du layout modifiable. Définir le menu de gauche si besoin, les alerts et autres paneau de notifications
    Liste des invitations d'un utilisateur

Données d'entrée :
- eventInvitations : tableau d'EventInvitation qui sont à afficher
#}

{% block title %}{{ 'eventInvitations.page.meta_title'|trans }}{% endblock %}

{% block mainMenu_listItems %}
    {# TODO : pour tester le layout avec le menu gauche#}
    <li class="active">
        <a ><i class="zmdi zmdi-home"></i> Test menu</a>
    </li>
    <li class="">
        <a ><i class="zmdi zmdi-google"></i> Test Menu 2</a>
    </li>
{% endblock %}

{% block event_invitations_content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ "eventInvitations.page.title"|trans }}<small>{{ "eventInvitations.page.subtitle"|trans }}</small></h2>
        </div>
        <div class="card-body card-padding">
            {% for eventInvitation in eventInvitations %}
                {{ include('@App/EventInvitation/partials/event_invitation.html.twig', {'eventInvitation':eventInvitation}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}