# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    is_beta: true

    database_host:     127.0.0.1
    database_port:     ~
    database_name:     prototype2_main
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_encryption: ssl
    mailer_host:       auth.smtp.1and1.fr
    mailer_port:       465
    mailer_user:       contact@ardteam.fr
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            CestUnTokenSecretPlusBesoinDeLeChanger

    # Oauth configuration
    oauth.google.id: ~
    oauth.google.secret: ~
    oauth.facebook.id: ~
    oauth.facebook.secret: ~

    # Google Analytics (beta : UA-89508627-1)
    universal_analytics: null

    # API configuration
    maps_api.google.id: ~

    # DEV
    dev_delivery_address: ~

    # MangoPay Configuration
    mangopay.client.id:        "ardteam"
    mangopay.client.password:  "TeF1qEdnAuYeBnHQvzgc9fhL7aqZaE7Otp5YhgT2Z3TZAWN5xv"
    mangopay.temporary.folder: "%kernel.root_dir%/var/tmp/"
    # Default is SandBox, for production : https://api.sandbox.mangopay.com
    mangopay.base.url:         ""

    # Trello authentification
    trello.token_or_login: 9963c393f717f1c909f722c29f79435e
    trello.pass: 4354e0823c4d2cde3b058cf58e3674271ed78cb8a360fad3153d01f632dee052

    # Assetic
    node.path: "/usr/bin/nodejs"
    uglifyjs.path: '/usr/bin/uglifyjs'
    uglifycss.path: '/usr/bin/uglifycss'