{# Affichage du lien de l'événement donné en entrée, dans un input avec bouton pour copier

Données d'entrée :
- event (Event) L'événement concerné
#}

{% block event_template_duplication_url_copyClipboard_block %}
    <div id="event_template_duplication_url_copyClipboard">
        <div class="form-group">
            <label class="control-label sr-only" for="event_template_duplication_url">{{ "event.form.public_invitation.label"|trans }}</label>
            <div class="input-group input-group-sm">
                <div class="fg-line">
                    <input type="text" id="event_template_duplication_url" class="form-control input-sm" readonly="readonly" value="{{ url("duplicateEvent", {'tokenDuplication':event.token}) }}">
                </div>
                <span class="input-group-btn">
                    <button type="button" id="btn_event_template_duplication_url" class="btn btn-primary btn-icon-text" data-clipboard-target="#event_template_duplication_url">
                        <i class="zmdi zmdi-copy"></i>{{ "global.button.copy"|trans }}</button>
                </span>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                new Clipboard("#btn_event_template_duplication_url");
            });
        </script>
    </div>
{% endblock event_template_duplication_url_copyClipboard_block %}