<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header palette-Teal bg text-center">
                <h1 class="c-white"><i class="zmdi zmdi-account-circle"></i> {{ "security.page.title"|trans }}</h1>
            </div>

            <div class="modal-body">
                {{ include('@ATUser/Security/partials/login_form.html.twig') }}
            </div>
        </div>
    </div>
</div>