{# Données d'entrée :
- notifications (array of Notification) Listes des notifications à afficher dans la page de l'événement
#}

<ul class="list-group" id="notificationsSidePanel">
    {% for notification in notifications %}
        {{ include('@App/Notifications/partials/notification_display.html.twig', {'notification':notification}) }}
    {% endfor %}
    <li id="notification-none" class="list-group-item"><i>{{ "notifications.side_panel.none"|trans }}</i></li>
</ul>