<div class="pmb-block">
    <div class="p-header">
        <ul class="p-menu">
            <li class="active"><a href=""><i class="zmdi zmdi-accounts-add hidden-xs"></i> Add</a></li>
            <li><a href=""><i class="zmdi zmdi-accounts hidden-xs"></i> Friends</a></li>
            <li class="pm-search">
                <div class="pms-inner">
                    <i class="zmdi zmdi-search"></i> <input type="text" placeholder="Search...">
                </div>
            </li>
        </ul>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown"> <i class="zmdi zmdi-more-vert"></i> </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#">Refresh</a>
                    </li>
                    <li>
                        <a href="#">Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="contacts c-profile clearfix row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="c-item">
                <a href="{{ asset('bundles/atuser/profile/avatar_default.png') }}" class="ci-avatar"> <img src="#" alt="Contact 1"> </a>

                <div class="c-info">
                    <strong>Cathy Shelton</strong>
                    <small>cathy.shelton31@example.com</small>
                </div>

                <div class="c-footer">
                    <button class="waves-effect"><i class="zmdi zmdi-face-add"></i> Add</button>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="c-item">
                <a href="{{ asset('bundles/atuser/profile/avatar_default.png') }}" class="ci-avatar"> <img src="#" alt="Contact 2"> </a>

                <div class="c-info">
                    <strong>Stella Flores</strong>
                    <small>stella@example.com</small>
                </div>

                <div class="c-footer">
                    <button class="waves-effect"><i class="zmdi zmdi-face-add"></i> Add</button>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="c-item">
                <a href="{{ asset('bundles/atuser/profile/avatar_default.png') }}" class="ci-avatar"> <img src="#" alt="Contact 3"> </a>

                <div class="c-info">
                    <strong>Marilyn Thomas</strong>
                    <small>marilyn@example.com</small>
                </div>

                <div class="c-footer">
                    <button class="waves-effect"><i class="zmdi zmdi-face-add"></i> Add</button>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="c-item">
                <a href="{{ asset('bundles/atuser/profile/avatar_default.png') }}" class="ci-avatar"> <img src="#" alt="Contact 4"> </a>

                <div class="c-info">
                    <strong>Dwight Gilbert</strong>
                    <small>dwight@example.com</small>
                </div>

                <div class="c-footer">
                    <button class="waves-effect"><i class="zmdi zmdi-face-add"></i> Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="load-more">
        <a href=""><i class="zmdi zmdi-refresh-alt"></i> Load More...</a>
    </div>
</div>