{% extends "ATUserBundle::layout_cboxed.html.twig" %}

{% block title %}
    {% spaceless %}{{ parent() }} - {{ "change_password.page.meta_title"|trans }}{% endspaceless %}
{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12 col-xs-p-lr-0 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h1>{{ "change_password.page.title"|trans }}</h1>
                </div>
                <div class="card-body card-padding">
                    {% include "ATUserBundle:ChangePassword:change_password_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
