/** Prototype 2 CSS */

/*---------------------------------
    TOASTR
----------------------------------*/
#toast-container {
    top: 12px;
}

/*---------------------------------
    Global Preloader
    Affiche un preloader dans un coin de la page le temps d'une requête Ajax par exemple
----------------------------------*/
.at-global-preloader {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 50%;
    width: 40px;
    margin-left: -20px;
}

.at-global-preloader .plc-path {
    stroke-width: 4;
}

/*---------------------------------
    Global Preloader
    Affiche un preloader dans un coin de la page le temps d'une requête Ajax par exemple
----------------------------------*/
.at-alert-no-js {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.at-alert-no-js:hover {
    opacity: 0.25;
}

/*---------------------------------
    Carousel
----------------------------------*/
.carousel .item {
    height: 500px;
    background-color: #777;
}

/*-----------------------------------
    Fix Card style
-----------------------------------*/

.card.c-dark .card-header > .media > .media-body > h2 {
    color: #fff;
}

.card.c-dark .card-header > .media > .media-body > h2 small {
    color: rgba(255, 255, 255, 0.7);
}

.card-body + .card-body {
    padding-top: 0 !important;
}

.card-body + .card-footer {
    padding-top: 0 !important;
}

.card-footer.card-padding {
    padding: 30px 33px;
}

.card-footer.card-padding-sm {
    padding: 15px;
}


/*-----------------------------------
    FIX checkbox-inline, radio-inline
-----------------------------------*/
/* Les classes ne sont pas utilisées dans le bon ordre sinon (pourquoi?) */
.checkbox-inline,
.radio-inline {
    vertical-align: top;
    margin-top: 0 !important;
    padding-left: 25px;
}

/*-----------------------------------

-----------------------------------*/
.list-md-icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-md-icon ul li {
    position: relative;
    padding: 8px 0 8px 35px;
}

.list-md-icon ul li i {
    font-size: 18px;
    vertical-align: top;
    line-height: 100%;
    position: absolute;
    left: 0;
    width: 18px;
    text-align: center;
}

/*-----------------------------------
    Avatar (Adapt Material Design Extebded Admin
------------------------------------*/
.avatar-img,
.avatar-char {
    border-radius: 10%;
}

.hm-profile > a img {
    border-radius: 10%;
}

/*-----------------------------------
    Affichage d'avatar utilisateur
-----------------------------------*/
.avatar-container-list {
    float: left;
}

.avatar-container-list-xs {
    float: left;
    height: 20px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.avatar-img-container,
.avatar-img-container-xs,
.avatar-img-container-md {
    position: relative;
    text-align: center;
    float: left;
    width: 50px;
    height: 50px;
}

.avatar-img-container-xs {
    width: 20px;
    height: 20px;
}

.avatar-img-container-md {
    width: 100px;
    height: 100px;
}

.avatar-img-container img,
.avatar-img-container-xs img,
.avatar-img-container-md img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.avatar-img-container-xs img {
    position: relative;
    width: 20px;
    height: 20px;
}

.avatar-img-container img {
    position: relative;
    width: 50px;
    height: 50px;
}

/*----------------------------------
    Event Picture
-----------------------------------*/

#event_picture_update_modal .kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

#event_picture_update_modal .kv-avatar .file-input {
    display: block;
    width: 95%;
    min-height: 150px;
    margin: 0 auto;
}

/*----------------------------------
    Event Invitation Answer
-----------------------------------*/

.answer-form .btn.active,
.answer-form .btn:active{
    border: 2px teal solid;
}

.answer-thumb {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
}

/*----------------------------------
    Add Module
-----------------------------------*/

.add-module-menu{
    position: fixed;
    right: 40px;
    bottom: 100px;
    z-index: 10;
}

.add-module-menu .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
}

.add-module-menu .dropdown-menu > li {
    margin-bottom: 5px;
    text-align: right;
    height: 50px;
}

.add-module-menu .dropdown-menu > li > a {
    display: inline-block;
    text-align: right;
    padding: 0;
}

.add-module-menu .dropdown-menu > li > a > small,
.add-module-menu .dropdown-menu > li > a > i {
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.add-module-menu .dropdown-menu > li > a > i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
}

.add-module-menu .dropdown-menu > li > a > small {
    color: #ABABAB;
    height: 50px;
    margin-right: 10px;
    line-height: 50px;
    font-weight: 900;
    white-space: normal;
}

.add-module-menu .dropdown-menu > li > a:hover {
    background: transparent;
}

.add-module-menu .dropdown-menu > li > a:hover > small {
    color: #333;
}

.add-module-menu .dropdown-menu > li > a:hover > i {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

/*---------------------------------
    Poll Proposal Response
----------------------------------*/
.pollproposal-response > label.active {
    border: teal 1px solid;
}

/*---------------------------------
    Colored Header
----------------------------------*/
[data-ma-header="teal"] .smm-header {
    background: #009688;
}

[data-ma-header="blue"] .smm-header {
    background: #2196f3;
}

[data-ma-header="bluegrey"] .smm-header {
    background: #607d8b;
}

[data-ma-header="cyan-600"] .smm-header {
    background: #00acc1;
}

[data-ma-header="green"] .smm-header {
    background: #4caf50;
}

[data-ma-header="lightgreen"] .smm-header {
    background: #8bc34a;
}

[data-ma-header="purple-400"] .smm-header {
    background: #ab47bc;
}

[data-ma-header="blue"] .smm-header {
    background: #2196f3;
}

[data-ma-header="purple-400"] .smm-header {
    background: #ab47bc;
}

[data-ma-header="red-400"] .smm-header {
    background: #ef5350;
}

[data-ma-header="pink-400"] .smm-header {
    background: #ec407a;
}

[data-ma-header="brown"] .smm-header {
    background: #795548;
}

[data-ma-header="grey-600"] .smm-header {
    background: #757575;
}

[data-ma-header="orange"] .smm-header {
    background: #ff9800;
}

/** end Colored Header **/

/*---------------------------------
    Borders : b-Position-Color
---------------------------------*/

.b-b-primary {
    border-bottom: #2196f3 solid 2px;
}

.b-b-w {
    border-bottom: #eee solid 2px;
}

/** Borders **/

/*---------------------------------
    Formulaires
---------------------------------*/
.form-control {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Pas de couleur de fond ni de bordure sur l'icone en cas d'erreur */
.has-error .input-group-addon {
    color: #f6675d;
    border-color: transparent;
    background-color: transparent;
}

.clockpicker-popover {
    z-index: 1100;
}

label.required:after {
    content: " *";
}

/** end Formulaires **/

/*---------------------------------
    PollModule
---------------------------------*/

.poll-container{}

.poll-container table.dataTable.compact thead th,
.poll-container table.dataTable.compact thead td {
    padding : 0 1px;
}

.poll-container table.dataTable.compact tbody th,
.poll-container table.dataTable.compact tbody td {
    padding: 0;
}

.poll-container table.dataTable > tbody > tr.child ul li {
    display: inline-block;
}
.poll-container table.dataTable > tbody > tr.child ul li>span {
    display: block;
}
.poll-container table.dataTable > tbody > tr.child ul li>span.dtr-title {
    min-width: 0;
}

/*.poll-container {
    display: table;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0 2px;
    margin: 0 auto;
}

.poll-container .pc-groupe-ligne {
    display: table-row-group;
}

.poll-container .pc-ligne {
    display: table-row;
}

.poll-container .pc-ligne .pcl-celulle {
    display: table-cell;
    text-align: center;
    padding: 0 1px;
    vertical-align: middle;
}

.poll-container .pc-ligne .pcl-celulle:not(:first-child) {
    width: 40px;
    max-width: 40px;
}

.poll-container .pc-ligne .pcl-celulle:first-child:not(:last-child) {
    text-align: left;
    font-weight: bold;
    min-width: 150px;
}

.poll-container .pc-groupe-ligne .pc-ligne-empty {
    display: none;
}

.poll-container .pc-groupe-ligne .pc-ligne-empty:first-child:last-child {
    display: table-row;
}*/

/*---------------------------------
    User select
---------------------------------*/

.bootstrap-select.btn-group .btn .filter-option {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    overflow: visible;
    height: auto;
}

.bootstrap-select .btn {
    /* Désactivé en attendant de trouver une solution spécifique au cas de l'image (avatar)
    white-space: normal;
    */
}

.insecable-white-space {
    white-space: nowrap;
}

/*---------------------------------
    Profile page
---------------------------------*/

.profile-tab {
    min-height: 500px;
    position: relative;
}

.profile-tab .pm-overview {
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .profile-tab .pm-overview {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .profile-tab .pm-overview {
        width: 250px;
    }
}

@media (min-width: 768px) {
    .profile-tab .pm-overview {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: #f8f8f8;
        border-right: 1px solid #eee;
    }
}

@media (max-width: 767px) {
    .profile-tab .pm-overview {
        width: 100%;
        background: #333;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .profile-tab .pm-body {
        padding-left: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .profile-tab .pm-body {
        padding-left: 250px;
    }
}

@media (max-width: 767px) {
    .profile-tab .pm-body {
        padding-left: 0;
    }
}

.profile-tab .pmo-pic {
    position: relative;
    margin: 20px;
}

@media (min-width: 768px) {
    .profile-tab .pmo-pic img {
        width: 100%;
        border-radius: 2px 2px 0 0;
    }
}

@media (max-width: 767px) {
    .profile-tab .pmo-pic img {
        width: 180px;
        display: inline-block;
        height: 180px;
        border-radius: 50%;
        border: 4px solid #fff;
        box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    }
}

.profile-tab .pmo-pic .pmo-stat {
    border-radius: 0 0 2px 2px;
    color: #fff;
    text-align: center;
    padding: 30px 5px 0;
}

@media (min-width: 768px) {
    .profile-tab .pmo-pic .pmo-stat {
        background: #ffc107;
        padding-bottom: 15px;
    }
}

.profile-tab .pmo-pic .pmop-edit {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.38);
    text-align: center;
    padding: 10px 10px 11px;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.profile-tab .pmo-pic .pmop-edit:hover {
    background: rgba(0, 0, 0, 0.8);
}

.profile-tab .pmo-pic .pmop-edit i {
    font-size: 18px;
    vertical-align: middle;
    margin-top: -3px;
}

@media (min-width: 768px) {
    .profile-tab .pmo-pic .pmop-edit {
        width: 100%;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .profile-tab .pmo-pic .pmop-edit i {
        margin-right: 4px;
    }
}

.profile-tab .pmo-pic:hover .pmop-edit {
    opacity: 1;
    filter: alpha(opacity=100);
}

.profile-tab .pmo-pic .pmop-message {
    position: absolute;
    bottom: 27px;
    left: 50%;
    margin-left: -25px;
}

.profile-tab .pmo-pic .pmop-message .dropdown-menu {
    padding: 5px 0 55px;
    left: -90px;
    width: 228px;
    height: 150px;
    top: -74px;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.profile-tab .pmo-pic .pmop-message .dropdown-menu textarea {
    width: 100%;
    height: 95px;
    border: 0;
    resize: none;
    padding: 10px 19px;
}

.profile-tab .pmo-pic .pmop-message .dropdown-menu button {
    bottom: 5px;
    left: 88px;
}

.profile-tab .pmb-block {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .profile-tab .pmb-block {
        padding: 40px 42px 0;
    }
}

@media (max-width: 1199px) {
    .profile-tab .pmb-block {
        padding: 30px 20px 0;
    }
}

.profile-tab .pmb-block:last-child {
    margin-bottom: 50px;
}

.profile-tab .pmb-block .pmbb-header {
    margin-bottom: 25px;
    position: relative;
}

.profile-tab .pmb-block .pmbb-header .actions {
    position: absolute;
    top: -2px;
    right: 0;
}

.profile-tab .pmb-block .pmbb-header h2 {
    margin: 0;
    font-weight: 100;
    font-size: 20px;
}

.profile-tab .pmb-block .pmbb-edit {
    position: relative;
    z-index: 1;
    display: none;
}

.profile-tab .pmb-block .pmbb-edit,
.profile-tab .pmb-block .pmbb-view {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.profile-tab .pmb-block.toggled .pmbb-edit {
    display: block;
}

.profile-tab .pmb-block.toggled .pmbb-view {
    display: none;
}

.profile-tab .pmo-block {
    padding: 25px;
}

.profile-tab .pmo-block > h2 {
    font-size: 16px;
    margin: 0 0 15px;
}

.profile-tab .pmo-items .pmob-body {
    padding: 0 10px;
}

.profile-tab .pmo-items a {
    display: block;
    padding: 4px;
}

.profile-tab .pmo-items a img {
    width: 100%;
}