/** Prototype 2 CSS */

/*---------------------------------
    TOASTR
----------------------------------*/
#toast-container {
    top: 12px;
}

/*---------------------------------
    Global Preloader
    Affiche un preloader dans un coin de la page le temps d'une requête Ajax par exemple
----------------------------------*/
.at-global-preloader {
    position: absolute;
    z-index: 100;
}

.at-global-preloader .plc-path {
    stroke-width: 4;
}

/*---------------------------------
    Global Preloader
    Affiche un preloader dans un coin de la page le temps d'une requête Ajax par exemple
----------------------------------*/
.at-alert-no-js {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
.at-alert-no-js:hover {
    opacity: 0.25;
}

/*---------------------------------
    Carousel
----------------------------------*/
.carousel .item {
    height: 500px;
    background-color: #777;
}

/*-----------------------------------
    Fix Card style
-----------------------------------*/

.card.c-dark .card-header > .media > .media-body > h2 {
    color: #fff;
}

.card.c-dark .card-header > .media > .media-body > h2 small {
    color: rgba(255, 255, 255, 0.7);
}

.card-footer.card-padding {
    padding: 30px 33px;
}

.card-footer.card-padding-sm {
    padding: 15px;
}

/*----------------------------------
    Add Module
-----------------------------------*/

.add-module-menu .dropdown-menu {
    width: 305px;
    padding: 25px 10px 15px;
}

.add-module-menu .dropdown-menu > li {
    display: inline-block;
    width: 95px;
    margin-right: -4px;
    margin-bottom: 5px;
    vertical-align: top;
}

.add-module-menu .dropdown-menu > li > a {
    display: block;
    text-align: center;
}

.add-module-menu .dropdown-menu > li > a > small,
.add-module-menu .dropdown-menu > li > a > i {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.add-module-menu .dropdown-menu > li > a > i {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
}

.add-module-menu .dropdown-menu > li > a > small {
    display: block;
    text-align: center;
    color: #ABABAB;
    width: 85px;
    margin-top: 5px;
    margin-left: -15px;
    white-space: normal;
}

.add-module-menu .dropdown-menu > li > a:hover {
    background: transparent;
}

.add-module-menu .dropdown-menu > li > a:hover > small {
    color: #333;
}

.add-module-menu .dropdown-menu > li > a:hover > i {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}


/*---------------------------------
    Poll Proposal Response
----------------------------------*/
.pollproposal-response > label.active{
    border: black 1px solid;
}


/*---------------------------------
    Colored Header
----------------------------------*/
[data-ma-header="teal"] .smm-header {
    background: #009688;
}

[data-ma-header="blue"] .smm-header {
    background: #2196f3;
}

[data-ma-header="bluegrey"] .smm-header {
    background: #607d8b;
}

[data-ma-header="cyan-600"] .smm-header {
    background: #00acc1;
}

[data-ma-header="green"] .smm-header {
    background: #4caf50;
}

[data-ma-header="lightgreen"] .smm-header {
    background: #8bc34a;
}

[data-ma-header="purple-400"] .smm-header {
    background: #ab47bc;
}

[data-ma-header="blue"] .smm-header {
    background: #2196f3;
}

[data-ma-header="purple-400"] .smm-header {
    background: #ab47bc;
}

[data-ma-header="red-400"] .smm-header {
    background: #ef5350;
}

[data-ma-header="pink-400"] .smm-header {
    background: #ec407a;
}

[data-ma-header="brown"] .smm-header {
    background: #795548;
}

[data-ma-header="grey-600"] .smm-header {
    background: #757575;
}

[data-ma-header="orange"] .smm-header {
    background: #ff9800;
}

/** end Colored Header **/

/*---------------------------------
    Borders : b-Position-Color
---------------------------------*/

.b-b-primary {
    border-bottom: #2196f3 solid 2px;
}

.b-b-w {
    border-bottom: #eee solid 2px;
}

/** Borders **/

/*---------------------------------
    Formulaires
---------------------------------*/
.form-control {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Pas de couleur de fond ni de bordure sur l'icone en cas d'erreur */
.has-error .input-group-addon {
    color: #f6675d;
    border-color: transparent;
    background-color: transparent;
}

/** end Formulaires **/

/*---------------------------------
    PollModule
---------------------------------*/
.poll-container {
    display: table;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0 2px;
    margin: 0 auto;
}

.poll-container .pc-groupe-ligne {
    display: table-row-group;
}

.poll-container .pc-ligne {
    display: table-row;
}

.poll-container .pc-ligne .pcl-celulle {
    display: table-cell;
    text-align: center;
    padding: 5px 10px;
    vertical-align: middle;
}

.poll-container .pc-ligne .pcl-end-spacer {
    display: table-cell;
}

.poll-container .pc-ligne .pcl-celulle:not(:first-child) {
    width: 30px;
}

.poll-container .pc-ligne .pcl-celulle:first-child:not(:last-child) {
    text-align: left;
    font-weight: bold;
    min-width: 100px;
}

/*---------------------------------
    User select
---------------------------------*/

.bootstrap-select.btn-group .btn .filter-option {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    overflow: visible;
    height: auto;
}

.bootstrap-select .btn {
    white-space: normal;
}

.insecable-white-space {
    white-space: nowrap;
}