/**, *:before, *:after {
    box-sizing: inherit;
}*/

.wrapper-video {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
}

.wrapper-video video {
    /*object-fit: contain;*/
    /*       object-fit: fill; */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#topcontent {
    margin: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.p-index-topcontent {
    font-family: sans-serif;
    color: white;
    font-size: 5vmin;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.4);
}

video::-webkit-media-controls {
    display: none !important;
}

.c-boxed {
    max-width: 1200px;
    margin: auto;
}

.card {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

/* Deuxieme partie : cartes rotatives */
.rotation_card_wrapper {
    text-align: center;
}

.rotation_card {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.rotation_card__front,
.rotation_card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.rotation_card__text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.rotation_card__front,
.rotation_card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.rotation_card__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.rotation_card.effect__random.flipped .rotation_card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.rotation_card.effect__random.flipped .rotation_card__back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.quote-img {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.quote-table {
    display: table;
    width: 100%;
}

.quote-tr {
    display: table-row;
    width: 100%;
}

.quote-td {
    display: table-cell;
}