{# Modale de chargement et d'affichage des Contacts Gmail

Données d'entrée :
- none
#}

<div class="modal fade" id="GoogleContactListModal" tabindex="-1" role="dialog" aria-labelledby="GoogleContactListModalTitle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h4 class="modal-title"  id="GoogleContactListModalTitle">{{ "invitations.button.via_gmail_contact.show"|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ include('@App/Event/partials/invitations/gmail_contacts_selection.html.twig') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat f-700" data-dismiss="modal">{{ "global.button.close"|trans }}</button>
            </div>
        </div>
    </div>
</div>