<div class="card" id="bottom-1">
    <div class="card-header">
        <h1>{{ appUser.user }}</h1>
    </div>
    <div class="card-body card-padding">
        <a href="">Contacter l'organisateur</a>
    </div>
    <div class="card-footer">

    </div>
</div>