{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation de l'utilisateur "connecté"
- eventInvitation (EventInvitation) L'invitation à l'événement à afficher
#}


{% spaceless %}
    <li>
        <div class="userInvitation-avatar">
            <div class="avatar-img-container m-b-5">
                {{ include("@App/Event/partials/guests_list/guestList_avatar_display.html.twig",{invitation : eventInvitation, "userEventInvitation": userEventInvitation}) }}
            </div>
        </div>
    </li>
{% endspaceless %}