{# Données d'entrée :
- event (Event) l'événement en cours
- eventRecurrenceSettingsForm (Form) Formulaire de configuration des options de duplication de type Recurrence"
#}

<div id="eventDuplicationRecurrenceSetting_form_container">

    <h4>{{ "event.modal.duplicate.recurrence.title"|trans }}</h4>
    <p>{{ "event.modal.duplicate.recurrence.instructions"|trans }}</p>

    <script>
        $(document).ready(function () {


        });
    </script>
</div>