{# Données d'entrée :
- event (Event) L'évenement à afficher
- eventTemplateSettingsForm (Form|null) Formulaire de configuration des options de duplication de type Template
- eventRecurrenceSettingsForm (Form|null) Formulaire de configuration des options de duplication de type Recurrence"
#}
<div class="modal fade" id="eventDuplicationSettingsModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="#eventDuplicationSettingsModal_title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <h3 id="eventDuplicationSettingsModal_title" class="modal-title">{{ "event.modal.duplicate.title"|trans }}</h3>
            </div>
            <div class="modal-body">
                {% if eventTemplateSettingsForm is not null %}
                    {{ include("@App/Event/partials/event_duplication_template_settings_form.html.twig", {'event':event,'eventTemplateSettingsForm':eventTemplateSettingsForm}) }}
                {% endif %}

                {% if eventRecurrenceSettingsForm is not null %}
                    {{ include("@App/Event/partials/event_duplication_recurrence_settings_form.html.twig", {'event':event,'eventRecurrenceSettingsForm':eventRecurrenceSettingsForm}) }}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat" data-dismiss="modal">{{ "global.button.close"|trans }}</button>
            </div>
        </div>
    </div>
</div>