{# données d'entrée :
- userEventInvitation (EventInvitation) The EventInvitation of the user
#}

<div class="modal fade" id="event_picture_update_modal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="#event_picture_update_modal_title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="zmdi zmdi-close" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="event_picture_update_modal_title">
                    {{ "event.picture.update_modal.title"|trans }}
                </h4>
            </div>
            <div class="modal-body">
                {{ include('@App/Event/partials/event_picture_update_content_preview.html.twig', {'userEventInvitation': userEventInvitation}) }}
            </div>
        </div>
    </div>
</div>