{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation à afficher (inclu l'événement concerné)
- eventForm (Form|null) Formulaire d'édition des information général de l'événement (si les droits le permettent)
#}

<div class="card z-depth-2" id="event-header-card">
    {{ include('@App/Event/partials/event_header_card_header.html.twig', {'userEventInvitation':userEventInvitation, 'editEvent' : eventForm is not null }) }}

    <div class="card-body card-padding p-t-25">
        <div class="pmb-block m-0 p-0" id="pmbblock_event_header">
            {% if eventForm is not null %}
            <div class="pmbb-header p-10">
                <ul class="actions">
                    <li><a data-event-header-action="edit" data-event-header-action-target="#pmbblock_event_header" href="#"><i class="zmdi zmdi-edit"></i></a></li>
                </ul>
            </div>
            {% endif %}
            <div class="pmbb-body">
                <div class="pmbb-view">
                    {{ include("@App/Event/partials/event_header_card_show.html.twig", {'userEventInvitation':userEventInvitation}) }}
                </div>
                <div class="pmbb-edit">
                    {% if eventForm is not null %}
                        {{ include("@App/Event/partials/event_header_card_edit.html.twig", {'userEventInvitation':userEventInvitation, 'eventForm':eventForm}) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (typeof google === 'object' && typeof google.maps === 'object') {
        initEventShowMap();
    } else {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.async = true;
        script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD85iLilkz3ywzsN6VZKA-HEz2SLTEFIOE&libraries=places&sensor=false&callback=initEventShowMap";
        document.body.appendChild(script);
    }
</script>
