{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation à afficher (inclu l'événement concerné)
- eventForm (Form|null) Formulaire d'édition des information général de l'événement (si les droits le permettent)
#}

<div class="card z-depth-2" id="event-header-card">
    {{ include('@App/Event/partials/event_header_card_header.html.twig', {'userEventInvitation':userEventInvitation, 'editEvent' : eventForm is not null }) }}

    <div class="card-body card-padding p-t-25">
        <div class="pmb-block m-0 p-0" id="pmbblock_event_header">
            {% if eventForm is not null %}
                <div class="pmbb-header p-10">
                    <ul class="actions">
                        <li><a id="event_header_edit_information" data-event-header-action="edit" data-event-header-action-target="#pmbblock_event_header" href="#"><i class="zmdi
                        zmdi-edit"></i></a></li>
                    </ul>
                </div>
                {{ include("@App/Event/partials/event_help_popover.html.twig",{'userInvitation' : userEventInvitation, 'divId' : 'event_header_edit_information','text': 'event.help.popover.header'}) }}
            {% endif %}
            <div class="pmbb-body">
                <div class="pmbb-view">
                    {{ include("@App/Event/partials/event_header_card_show.html.twig", {'userEventInvitation':userEventInvitation}) }}
                </div>
                <div class="pmbb-edit">
                    {% if eventForm is not null %}
                        {{ include("@App/Event/partials/event_header_card_edit.html.twig", {'userEventInvitation':userEventInvitation, 'eventForm':eventForm}) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (typeof google === 'object' && typeof google.maps === 'object') {
            initEventShowMap();
        }
    });
</script>
