{# Données d'entrée :
- userEventInvitation : EventInvitation de l'utilisateur
#}

<div class="card" id="eventInvitation-answer-card">
    <div class="card-header">
        <h2>{{ "eventInvitation.answer.card.title"|trans }}</h2>
    </div>
    <div class="card-body card-padding">
        {# TODO : gestion de la réponse : exemple de présentation à modifier ou implémenter sous forme de Form symfony #}
        <div class="btn-group btn-group-lg btn-group-justified" data-toggle="buttons" role="group">
            <label class="btn btn-success"><input type="radio" name="answer" autocomplete="off">Oui</label>
            <label class="btn btn-danger"> <input type="radio" name="answer" autocomplete="off">Non</label>
        </div>
    </div>
</div>