{# Données d'entrée :
- event : Event
- userEventInvitation : EventInvitation de l'utilisateur
#}

<div class="card" id="event-technique-card">
    <div class="card-header">
        <h2>Important</h2>
        <small>Information à conserver</small>
    </div>
    <div class="card-body card-padding">
        <dl>
            <dt>Lien vers votre invitation</dt>
            <dd><a href="{{ url("displayEventInvitation",{'token':userEventInvitation.token}) }}">Votre invitation</a></dd>
        </dl>
    </div>
</div>