<div class="card c-dark">
    <div class="card-header palette-Blue bg">
        <h2><i class="zmdi zmdi-collection-plus"></i>  Ajouter un module</h2>
        <a data-toggle="modal" href="#addModule">
            <button class="btn palette-Cyan bg btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
        </a>
    </div>
    <div class="card-body card-padding">
        <h4>Ajouter un module pré-configuré :</h4>
        <button class="btn palette-Yellow-900 bg waves-effect text-center m-10"><i class="zmdi zmdi-money-box zmdi-hc-3x"></i></br>   Cagnotte   </button>
        <button class="btn palette-Blue bg waves-effect text-center m-10"><i class="zmdi zmdi-calendar zmdi-hc-3x"></i></br>Sondage Quand ?</button>
        <button class="btn palette-Teal bg waves-effect text-center m-10"><i class="zmdi zmdi-map zmdi-hc-3x"></i></br>Sondage Où ?</button>
        <button class="btn palette-Deep-Orange bg waves-effect text-center m-10"><i class="zmdi zmdi-pin-help zmdi-hc-3x"></i></br>Sondage Quoi ?</button>
        <button class="btn palette-Green bg waves-effect text-center m-10"><i class="zmdi zmdi-check-square zmdi-hc-3x"></i></br>Qui apporte quoi ?</button>
        <button class="btn palette-Purple bg waves-effect text-center m-10"><i class="zmdi zmdi-balance-wallet zmdi-hc-3x"></i></br>Comptes entre amis</button>
    </div>
</div>