{% extends "ATUserBundle::layout.html.twig" %}

{% block meta_title %}
    {% spaceless %}{{ parent() }} - {{ "profile.show.page.meta_title"|trans }}{% endspaceless %}
{% endblock %}

{% block fos_user_content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ "profile.show.page.title"|trans }}</h1>

            <a href="{{ path('fos_user_profile_edit') }}" class="btn palette-Cyan bg btn-float waves-effect waves-circle waves-float">
                <i class="zmdi zmdi-edit"></i>
            </a>

        </div>
        <div class="card-body card-padding">
            {% include "ATUserBundle:Profile:show_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}