{% extends "@App/Event/layout_cboxed.html.twig" %}

{# Données d'entrée :
- event (Event) L'événement en cours de création
#}

{% block title %}{{ parent() }} - {{ event.name is empty?"event.page.meta_title.new_event"|trans:event.name }}{% endblock %}

{% block event_content %}
    <div id="eventWizard" class="row">
        <div class="col-xs-12 col-xs-p-lr-0">
            <div class="card z-depth-1">
                <div class="card-header">
                    <h2>{% block wizard_step_title %}{% endblock %}</h2>
                </div>

                <div class="card-body card-padding">
                    <div id="newEventWizard">
                        {% block wizard_step %}{% endblock wizard_step %}
                    </div>
                </div>
            </div>

            {% block wizard_step_after_card %}{% endblock %}
        </div>
    </div>
{% endblock event_content %}