{% extends "@App/Event/partials/event_edit_form.html.twig" %}
{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation à afficher (incluant l'événement concerné)
- eventForm (Form) Formulaire d'édition des information général de l'événement
#}

{% block form_start %}
    {{ form_start(eventForm, {'action':path('wizardNewEvent',{'token':userEventInvitation.event.token})}) }}
{% endblock form_start %}

{% block where_when_text %}<p>{{ "event.form.text.when_where"|trans }}</p>{% endblock where_when_text %}

{% block action_buttons %}
    <div class="text-center">
        <a href="" class="btn btn-flat m-b-10 disabled" disabled="disabled">{{ "global.button.previousStep"|trans }}</a>
        <button type="submit" class="btn btn-primary m-b-10">{{ "global.button.nextStep"|trans }}</button>
        <div class="visible-xs visible-sm m-b-10"></div>
    </div>
{% endblock action_buttons %}

{#<script>#}
{% block js_document_ready %}
    $('#showMapContainer').on('shown.bs.collapse', function (e) {
        if (mapEventEdit == null) {
            initEventEditMap();
        } else {
            google.maps.event.trigger(mapEventEdit, 'resize');
        }
    });
{% endblock js_document_ready %}
{#</script>#}